/*Backgrounds */

.orange-bg {
  background: url('../images/orange_stars_base.jpg') repeat;
  max-width: 100%;
}


/*Header */

.header-img {
  width: 100%;
  max-width: 1110px;
}


/*Navigation */

.navbar-default {
  background-color: blue;
  border: none;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
}

.nav>li {
  padding: 0 1% 0 1%;
}

@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
  .navbar {
    border-radius: 0px;
  }
}

/*Video*/
.video-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 50px;

  border: 10px solid #E124B7;
  background-color: black;
}

.video-container video.fillWidth {
  width: 100% !important;
}

.playpause {
    background-image:url('../images/play.png');
    background-repeat:no-repeat;
    width:35%;
    height:35%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}

.watch-button {
  position: absolute;
z-index: 100;
left: -2%;
top: -2%;
}

@media (max-width: 768px) {
  .watch-button {
    display: none;
  }
}


/*Sidebar */
.sponsors {
  margin:10px auto;
}
