body {
	font-family: 'Raleway', sans-serif;
}


/*Backgrounds */

.orange-bg {
	background: url('../images/orange_stars_base.jpg') repeat;
	max-width: 100%;
}

.green-bg {
	background: url('../images/green_stars_base.jpg') repeat;
	max-width: 100%;
}

.blue-bg {
	background: url('../images/blue_stars_base.jpg') repeat;
	max-width: 100%;
}

.magenta-bg {
	background: url('../images/magenta_stars_base.jpg') repeat;
	max-width: 100%;
}

.purple-bg {
	background: url('../images/purple_stars_base.jpg') repeat;
	max-width: 100%;
}


/*Header */

.header-img {
	width: 100%;
	max-width: 1110px;
}


/*Navigation */

.navbar-default {
	background-color: blue;
	border: none;
}

.navbar-default .navbar-nav>li>a {
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.3em;
	font-family: 'Montserrat', sans-serif;
}

.nav>li {
	padding: 0 1% 0 1%;
}

@media (min-width: 768px) {
	.navbar .navbar-nav {
		display: inline-block;
		float: none;
		vertical-align: top;
	}
	.navbar .navbar-collapse {
		text-align: center;
	}
	.navbar {
		border-radius: 0px;
	}
}


/*Video*/

.video-container {
	position: relative;
	width: 100%;
	overflow: hidden;
	border-radius: 50px;
	border: 10px solid #E124B7;
	background-color: black;
}

.video-container-alt {
	position: relative;
	width: 100%;
	overflow: hidden;
	border-radius: 50px;
	border: 10px solid #001d99;
	background-color: #001d99;
}

.video-container video.fillWidth {
	width: 100% !important;
}

.video-container-alt video.fillWidth {
	width: 95% !important;
	float: right;
}

.playpause {
	background-image: url('../images/play.png');
	background-repeat: no-repeat;
	width: 35%;
	height: 35%;
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	margin: auto;
	background-size: contain;
	background-position: center;
}

.watch-button {
	position: absolute;
	z-index: 100;
	left: -5%;
	top: 5%;
	max-width: 174px;
}

@media (max-width: 768px) {
	.watch-button {
		display: none;
	}
}

.random-button {
	position: absolute;
	top: -2%;
	left: 30%;
	cursor: pointer;
}

.profile-pic {
	margin-left:20%;
}

/*A-Z Grid*/

.intro-text-block {
	background-color: black;
	color: #FF6633;
	position: absolute;
	font-size: 1.3em;
	font-weight: bold;
}

.padding-30 {
	padding: 30px 0;
}

.padding-top-30 {
	padding: 30px 0 0 0;
}

.center-img {
	margin: 0 auto;
}

.padding-right-30 {
	padding-right: 30px;
}

.padding-left-30 {
	padding-left: 30px;
}

/*Report */

.report {
	background-color: #ffffff;
	color: #000000;
	border: 5px solid #001d99;
	padding: 10px 10px;
	margin-top: 50px;
}

.report-button {
	position: absolute;
	z-index: 100;
	left: 35%;
	max-width: 250px;
}


/*Resources*/
.resources-box {
	background-color:#66cc66;
	color:#6600cc;
	font-weight:bold;
	margin-left:15px;
}

.resources-order {
	background-color: #ff3399;
	width: 80%;
	max-height: 80px;
	z-index: 2;
	position: absolute;
	top: 30%;
	color:#ffffff;
}

.resources-tools{
	background-color:#0e8a0e;
	color:#ffffff;
	font-weight:bold;
	margin:70px 0 40px 15px;
	min-height:375px;
}

 .resource-screenshot {
	 -ms-transform: rotate(3deg); /* IE 9 */
-webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
transform: rotate(3deg);
box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #000;
 }
/*Sidebar */

.sponsors {
	margin: 10px auto;
}

.sidebar-purple {
	background-color: #6600cc;
}

.sidebar-dark-blue {
	background-color: #001d99;
}

.sidebar-magenta {
	background-color: #ff3399;
}

.sidebar-dark-magenta {
	background-color: #c00a4e;
}

.sidebar-new-purple {
	background-color: #9900ff;
}

.sidebar-light-blue {
	background-color: #00ace7;
}

.sidebar-new-blue {
	background-color: #0475c0;
}

.sidebar-new-green {
	background-color: #0e8a0e;
}

.sidebar-new-orange {
	background-color: #ff6633;
}

.text-green {
	font-weight: bold;
	color: #66cc66;
}

.text-new-green {
	font-weight: bold;
	color: #0e8a0e;
}

.text-orange {
	font-weight: bold;
	color: #ff9900;
}

.text-dark-magenta {
	font-weight: bold;
	color: #c00a4e;
}

.text-magenta {
	font-weight: bold;
	color: #ff3399;
}

.text-light-blue {
	font-weight: bold;
	color: #00ace7;
}

.text-new-blue {
	font-weight: bold;
	color: #0475c0;
}

.text-blue-web {
	font-weight: bold;
	color: #001d99;
}

.text-purple-web {
	font-weight: bold;
	color: #6600cc;
}

.text-new-purple {
	font-weight: bold;
	color:#9900ff;
}

.padding-rl-10 {
	padding: 0px 10px;
}

.padding-tb-10 {
	padding: 10px 0px;
}

.font-big {
	font-size: 1.2em;
}

.margin-top-10 {
	margin-top: 10px;
}

.img-thumbnail {
	display: inline-block;
	max-width: 100%;
	height: auto;
	padding: 4px;
	line-height: 1.42857143;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
